@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111117;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: white;
  background: var(--background);
  font-family: "Nunito Sans";
}

.gradient_text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
