@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111117;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: white;
  background: var(--background);
  font-family: "Nunito Sans";
}

.gradient_text {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.title_text {
  font-size: 32px;
  font-family: var(--font-paladin);
}

/** Setting Product Header **/
.sticky-custom {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--background);
  box-shadow: 0 2px 4px 0 rgba(225, 222, 222, 0.1);
}
